<div class="login screen " data-id="1:39"><a href="login-2">
    <div class="repeat-grid-8-b8DrbD" data-id="1:64">
      <div class="group-pNVEy3 group" data-id="1:63">
        <div class="group-2-xxBCeA" data-id="1:62">
          <div class="login-k1v5EW" data-id="1:61">
            <div class="group-1-6YYwit" data-id="1:56">
              <div class="repeat-grid-7-XwaYkd" data-id="1:55">
                <div class="group-I9eKNL group" data-id="1:54">
                  <div class="scroll-group-1-reoWoS" data-id="1:53">
                    <div class="repeat-grid-5-70rx39" data-id="1:52">
                      <div class="group-neAM4s group" data-id="1:51"><img class="image-1-ZTPkiK" data-id="1:40"
                          src="https://cdn.animaapp.com/projects/641bb98f4a76e2d4ea229ad1/releases/641bbe68e6fb3205cdfe66c5/img/image-1.png"
                          anima-src="https://cdn.animaapp.com/projects/641bb98f4a76e2d4ea229ad1/releases/641bbe68e6fb3205cdfe66c5/img/image-1.png"
                          alt="Image 1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="repeat-grid-6-6YYwit" data-id="1:58">
              <div class="group-x6KiAx group" data-id="1:57">
                <div class="rectangle-1-mxFFVL" data-id="1:41"></div>
              </div>
            </div><img class="image-2-6YYwit" data-id="1:42"
              src="https://cdn.animaapp.com/projects/641bb98f4a76e2d4ea229ad1/releases/641bbe68e6fb3205cdfe66c5/img/image-2@2x.png"
              anima-src="https://cdn.animaapp.com/projects/641bb98f4a76e2d4ea229ad1/releases/641bbe68e6fb3205cdfe66c5/img/image-2@2x.png"
              alt="Image 2">
            <div class="rectangle-2-6YYwit" data-id="1:43"></div>
            <div class="singin-6YYwit" data-id="1:44">singin</div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="rectangle-3-b8DrbD" data-id="1:47"></div>
  <div class="remembe-b8DrbD" data-id="1:48">remembe</div>
  <div class="rectangle-4-b8DrbD" data-id="1:49"></div>
  <h1 class="text_label-b8DrbD" data-id="1:50">เข้าสู้ระบบ</h1>
</div>
